.Card{
    background-color: #95dada;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border: 5px;
    padding: 25px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    

}

.Card:hover{
    transform: scale(1.05);
}


.monsterImg{
    height: 180px;
    width: 180px;
}